<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.7/glider.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--Iconos de Fontawesome-->
    <script src="https://kit.fontawesome.com/699bf8f908.js" crossorigin="anonymous"></script>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>

    <section class="selector">
        <img class="principal" src="img/cat-1.jpg" alt="">
        <div>
            <img class="secundario active" src="img/cat-1.jpg" alt="">
            <img class="secundario" src="img/cat-2.jpg" alt="">
            <img class="secundario" src="img/cat-3.jpg" alt="">
            <img class="secundario" src="img/cat-4.jpg" alt="">
        </div>
    </section>


    <section class="flip-card">
        <div class="card">
            <div class="front">
                <img src="img/img-1.jpeg" alt="">
                <h1>Japon</h1>
            </div>

            <div class="back">
                <h1>Japon</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint nobis iure at ullam maiores rerum quasi minus officia architecto sit.</p>
                <button>Más información</button>
            </div>
        </div>

        <div class="card">
            <div class="front">
                <img src="img/img-2.jpeg" alt="">
                <h1>España</h1>
            </div>

            <div class="back">
                <h1>España</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint nobis iure at ullam maiores rerum quasi minus officia architecto sit.</p>
                <button>Más información</button>
            </div>
        </div>

        <div class="card">
            <div class="front">
                <img src="img/img-3.jpeg" alt="">
                <h1>Peru</h1>
            </div>

            <div class="back">
                <h1>Peru</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint nobis iure at ullam maiores rerum quasi minus officia architecto sit.</p>
                <button>Más información</button>
            </div>
        </div>
    </section>

    <section class="slider-general">
        <div class="slider">
            <div class="contenedor">
                <button class="anterior" aria-label="anterior">
                    <i class="fa-solid fa-angle-left fa-3x"></i>
                </button>

                <div class="elementos">
                    <div>
                        <img src="img/1.png" alt="">
                    </div>
                    <div>
                        <img src="img/2.png" alt="">
                    </div>
                    <div>
                        <img src="img/3.png" alt="">
                    </div>
                    <div>
                        <img src="img/4.png" alt="">
                    </div>
                    <div>
                        <img src="img/5.png" alt="">
                    </div>
                    <div>
                        <img src="img/6.png" alt="">
                    </div>
                    <div>
                        <img src="img/7.png" alt="">
                    </div>
                </div>

                <button class="siguiente" aria-label="siguiente">
                    <i class="fa-solid fa-angle-right fa-3x"></i>
                </button>

            </div>

            <div class="indicador" role="tablist">
            </div>
        </div>
    </section>

    <section class="typing">
        <header class="maquina">
            <h1>Hola, mi nombre es Javier Sánchez.</h1>
            <p>Yo soy desarrollador Frontend, en este portafolio encontrarás</p>
            <p>los trabajos que he realizado con diferentes tecnologías.</p>
        </header>
    </section>

    <section class="comentario-acordeon">
        <ul>
            <li>
                <label for="primero">¿Qué es un acordeon?<span>&#x3e</span></label>
                <input type="radio" name="acordeon" id="primero" checked>
                <div class="contenido">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, quo neque beatae reprehenderit praesentium laborum reiciendis a, eius quae animi, error laudantium et pariatur consectetur odio distinctio non fugit laboriosam? Ipsam aspernatur maxime quaerat labore quod nulla. Aut quas, adipisci quam itaque earum ut eius est repellat nostrum beatae sint.</p>
                </div>
            </li>

            <li>
                <label for="segundo">¿Qué es?<span>&#x3e</span></label>
                <input type="radio" name="acordeon" id="segundo">
                <div class="contenido">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, quo neque beatae reprehenderit praesentium laborum reiciendis a, eius quae animi, error laudantium et pariatur consectetur odio distinctio non fugit laboriosam? Ipsam aspernatur maxime quaerat labore quod nulla. Aut quas, adipisci quam itaque earum ut eius est repellat nostrum beatae sint.</p>
                </div>
            </li>

            <li>
                <label for="tercero">acordeon<span>&#x3e</span></label>
                <input type="radio" name="acordeon" id="tercero">
                <div class="contenido">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, quo neque beatae reprehenderit praesentium laborum reiciendis a, eius quae animi, error laudantium et pariatur consectetur odio distinctio non fugit laboriosam? Ipsam aspernatur maxime quaerat labore quod nulla. Aut quas, adipisci quam itaque earum ut eius est repellat nostrum beatae sint.</p>
                </div>
            </li>
        </ul>
    </section>


    <section class="banner-animado">
        <div class="banner">
            <div class="banner_item"> <p class="banner_title"> CURSOS </p> </div>
            <div class="banner_item"> <p class="banner_title"> PROFESORES </p> </div>
            <div class="banner_item"> <p class="banner_title"> ESPECIALIDADES</p> </div>
            <div class="banner_item"> <p class="banner_title"> SUSCRIBETE</p> </div>
        </div>
    </section>


    <section class="galeria-imagenes">
        <div class="container">
            <h1 class="text-dark text-center p-3 display-4">Galería de paisajes</h1>
            
            <div class="row row-cols-lg-4 row-cols-sm-3 row-cols-2" id="galery"></div>
        </div> 
    </section>

    <!-- Face Typography Portrait using CSS -->
    <div class="container-imgsobrepuestas">
		<img src="img/face.jpg">
		<img src="img/text.jpg">
	</div>



    <div class="contenedor-loader">
        <div class="loader"></div>
        <p>Loading</p>
    </div>


    <div class="navbar">

    </div>


    <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.7/glider.min.js"></script>
    <!-- Necesario para Galería -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>