@mixin box-sizing($sizing) {
    box-sizing: $sizing;
    -moz-box-sizing: $sizing;
    -webkit-box-sizing: $sizing;
}

@mixin transform($transform) {
    transform: $transform;
    -moz-transform: $transform;
    -webkit-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
}

@mixin transition($transition) {
    transition: $transition;
    -moz-transition: $transition;
    -webkit-transition: $transition;
    -o-transition: $transition;
}


@mixin animation( $animation ){
    -o-animation: $animation;
    -moz-animation: $animation;
    -webkit-animation: $animation;
    -ms-zoom-animation: $animation;
}

