@import 'variables';

*{
    border: 0;
    margin: 0;
    padding: 0;
    @include box-sizing(border-box);

    &:before,
    &:after {
        border: 0;
        margin: 0;
        padding: 0;
        @include box-sizing(border-box);
    };

    color: $primary-text-color;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}