$font-family: Arial, Helvetica, sans-serif;

/* Variables para loader */
$primary-color: #363636;
$primary-text-color: #ffffff;
$gradient-color-a: #f37c6c;
$gradient-color-b: #7ecafa;
$gradient-color-c: #55ceca;
