@import 'variables';
@import 'mixins';
@import 'reset';

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');


html{
    //background-color: rgba(124, 124, 124, 0.753);
}


.selector{
    width: 100%;
    height: 600px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .principal{
        width: 300px;
        height: 400px;
        border-radius: 8px;
        box-shadow: 0px 7px 7px rgb(37, 37, 37);
        margin: 10px;
    }

    div{
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 60px;
            height: 80px;
            margin: 10px;
            border-radius: 8px;
            opacity: 0.6;

            &:hover{
                opacity: 1;
            }
        }
    }

    .active{
        opacity: 1;
        box-shadow: 0px 7px 7px rgb(37, 37, 37);
    }
}



.flip-card{
    width: 100%;
    height: 600px;
    background-color: rgb(0, 67, 250);
    display: flex;
    align-items: center;
    justify-content: center;

    .card{
        background-color: rgb(0, 67, 250);
        border-color: transparent;
        position: relative;
        width: 300px;
        height: 400px;
        margin: 20px;

        div{
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            backface-visibility: hidden;
            transition: 1s;
            border-radius: 8px;
            box-shadow: 0px 0px 20px rgb(0, 0, 0);
        }

        .front{
            transform: perspective(500px) rotateY(0deg);

            img{
                width: 100%;
                height: 100%;
                border-radius: 8px;
            }

            h1{
                margin: 0px;
                color: rgb(253, 253, 253);
                position: absolute;
                bottom: 0px;
                width: 100%;
                text-align: center;
                padding: 8px;
                background-color: rgba(0, 0, 0, 0.6);
                border-bottom-right-radius: 8px;
                border-bottom-left-radius: 8px;
            }
        }

        &:hover .front{
            transform: perspective(500px) rotateY(180deg);
        }

        .back{
            background-color: rgb(0, 92, 128);
            transform: perspective(500px) rotateY(180deg);
            flex-direction: column;
            justify-content: space-around;
            padding: 10px;
            color: white;
            text-align: center;

            h1{
                text-transform: uppercase;
            }

            p{
            }

            button{
                border-top: 2px solid rgb(255, 255, 255);
                display: inline-block;
                width: 100%;
                padding-top: 15px;
                background-color: transparent;
                color: rgb(34, 255, 255);
                cursor: pointer;
            }
        }

        &:hover .back{
            transform: perspective(500px) rotateY(360deg);
        }
    }
}



.slider{
    width: 100%;
    height: 500px;
    padding: 100px 50px;
    background-color: rgb(221, 221, 221);

    .contenedor{
        position: relative;
        padding: 20px;

        button{
            color: rgb(97, 97, 97);
            background-color: transparent;
            width: 50px;
            height: 50px;
            cursor: pointer;
            position: absolute;
            top: 40%;

            :hover{
                color: rgb(53, 53, 53);
            }
        }

        .anterior{
            left: -30px;
        }

        .siguiente{
            right: -30px;
        }
    }

    .glider-dot{
        width: 40px;
        height: 10px;
        border-radius: 0;
        background-color: rgb(97, 97, 97);

        &.active{
            background-color: rgb(0, 0, 0);
        }

        &:hover{
            background-color: rgb(53, 53, 53);
        }
    }
}







.typing{
    width: 100%;
    height: 400px;
    background-color: rgb(0, 31, 204);
    display: flex;
    align-items: center;
    justify-content: center;

    .maquina{
        width: 600px;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h1{
            white-space: nowrap;
            overflow: hidden;
            color: white;
        }

        p{
            white-space: nowrap;
            overflow: hidden;
            color: rgb(146, 146, 146);
        }

        h1:nth-child(1) {
            width: 500px;
            font-size: 27px;
            @include animation(type 3s steps(34) forwards);
        }

        @keyframes type {
            0% {
                width: 0;
            }
            1% {
                border-right: 5px solid rgb(55, 231, 222);
            }
            99% {
                border-right: 5px solid #000;
            }
            100% {
                border: none;
            }
        }

        p:nth-child(2) {
            width: 500px;
            opacity: 0;
            @include animation(type2 3s steps(61) 3s forwards);
        }

        p:nth-child(3) {
            width: 460px;
            opacity: 0;
            @include animation(type2 3s steps(80) 6s forwards);
        }

        @keyframes type2 {
            0% {
                width: 0;
            }
            1% {
                opacity: 1;
                border-right:  5px solid rgb(55, 231, 222);
            }
            99% {
                border-right: 5px solid #000;
            }
            100% {
                opacity: 1;
                border: none;
            }
        }
    }
}










.comentario-acordeon{
    width: 100%;
    min-height: 500px;
    background-color: white;
    padding: 50px;

    ul{
        margin: 100px auto;
        width: 600px;

        li{
            list-style: none;
            width: 100%;
            margin-bottom: 10px;
            background-color: rgb(0, 133, 82);
            padding: 10px;
            border-radius: 4px;

            label{
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 18px;
                font-weight: 500;
                cursor: pointer;
                color: #c20000;

                span{
                    transform: rotate(90deg);
                    font-size: 22px;
                    color: rgb(255, 255, 255);
                }

                & + input[type="radio"]{
                    display: none;
                }

                & + input[type="radio"]:checked + .contenido{
                    max-height: 400px;
                }
            }

            .contenido{
                padding: 0 10px;
                line-height: 26px;
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.5s;
            }
        }
    }
}










.banner-animado{
    width: 100%;
    min-height: 500px;
    background-color: rgb(0, 31, 204);
    //padding: 50px;

    .banner{
        display: flex; /*columnas juntas*/
        background: yellow;
        height: 280px;

        .banner_item{
            flex: 1;  /*los elementos pueden crecer o reducir*/
            color: white;
            font-weight: bold; /*clarito*/
            font-size: 1.2em;
            display: flex;  /*centrar las letras*/
            transition: flex-grow 0.2;
            justify-content: center;
            align-items: center;

            /*darle color a cada columna*/
            &:nth-child(1) {
                background: hsl(90,100%,40%);
            }

            &:nth-child(2) {
                background: hsl(30,100%,40%);
            }

            &:nth-child(3) {
                background: hsl(200,100%,40%);	
            }

            &:nth-child(4) {
                background: hsl(280,100%,40%);	
            }

            .banner_title{
                margin: 0;
                transform: rotate(-90deg); /*rotar letras*/
                transition: transform 0.2s 0.2s; /*tiempo*/
            }

        }
        
        .banner_item:hover{
            flex-grow: 5; 
        }

        .banner_item:hover .banner_title{
            transform: rotate(0);  /*regresar a su posición original*/
        }
    }
}




/*  */
.container-imgsobrepuestas{
    margin: 50px auto;
	position: relative;
	width: 100%;
	height: 100vh;	/*100vh*/
	background-color: #000;

    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;	/*100vh*/
        object-fit: cover;

        &:nth-child(2){
            mix-blend-mode: multiply;
        }
    }
}






.contenedor-loader{
    position: relative; //Para el ejemplo
    background-color: $primary-color;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .loader{
        position: relative;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: rotateLoader 1.4s linear infinite;

        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient($gradient-color-a, $gradient-color-b, $gradient-color-c);
            border-radius: 50%;
            filter: blur(12px);
        }

        &::after{
            content:'';
            width: 95%;
            height: 95%;
            border: 10px solid $primary-color;
            background-color: $primary-color;
            border-radius: 50%;
            z-index: 1;
            filter: none;
        }
    }

    p{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        letter-spacing: 1.2px;
        animation: fadeText 1.4s linear infinite;
    }
}

@keyframes rotateLoader{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes fadeText{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0.2;
    }
}
